.areas__list {
  margin-bottom: 25px;
}

.thingsGroups {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border: 2px green none;
}
.thingsGroups:first-child {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.thing {
  display: flex;
  padding: 25px;
  border: 2px green none;
  background: #2b4e87;
  border-radius: 5px;
}
.sku:last-child{
  display: flex;
  font-size: 12px;
 position: relative;
  bottom: 100%;
  left: 50%;

}
.things {
  display: flex;
  margin-top: 15px;
}

.things:not(:last-child) {
  margin: 15px 15px 0 0;
  background: #203d74;
}

.thing:not(:last-child) {
  margin: 0 15px 0 0;
}
